.about {
  background-color: var(--bg-light);
  background-image: url('/assets/images/imagemfundo.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  .about-content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

    .description {
      font-size: 1.2rem;
      line-height: 1.8;
      color: var(--text-light);
      background-color: var(--bg-overlay);
      padding: 40px;
      border-radius: 10px;
    }
  }
}
